<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="/#about">Deluxe Rooms</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="/#about">Normal Rooms</a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="/#about">Dormitory Rooms</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        opposite to Maruti Suzuki KVR Cars,
                        <br />
                        Muttil South, Wayanad <br />
                        Kerala, India - 673122
                        <br /><br />

                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p class="my-1">
                        <strong>Email:</strong>
                        info@silvercloudresidency.com
                    </p>
                    <p class="my-1">
                        <strong>Call Us: </strong>
                        04936 298 444
                    </p>
                    <p class="my-1">
                        <strong>WhatsApp: </strong>
                        +91 9847454440
                    </p>
                    

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About MKC Group</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s</p>
                    {{!-- <div class="social-links mt-3">
                        <a href="http://facebook.com/ieeelink" class="facebook" target="_blank"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="http://instagram.com/ieeelink" class="instagram" target="_blank"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="http://linkedin.com/company/ieeelink" class="linkedin" target="_blank"><i
                                class="bx bxl-linkedin"></i></a>
                    </div> --}}
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <strong><span>MKC Group</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>