<section id="hero-section">
    <div class="container">
        <div id="hero" class="hero box-shadow">
            <div id="hero-content">
                <h1>Silver Cloud <br> Residency</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <a href="/#" class="btn">Book Now</a>
            </div>
            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url(/assets/images/cityscape_1.jpg);">
                    </div>
                    <div class="carousel-item" style="background-image: url(/assets/images/cityscape_2.jpg);">
                    </div>
                </div>
                {{!-- <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> --}}
            </div>
        </div>
    </div>
</section>