<section id="booking" class="booking">

    <div class="container">

        <div class="section-title">
            <h2>Booking</h2>
        </div>

        <div class="card">

            <form action="/" method="post" role="form" class="form">
                <div class="row g-5 justify-content-center align-items-center">
                    <div class="col-12 col-md-6 form-group">
                        <label for="check_in" class="form-label">Check In</label>
                        <input type="date" name="check_in" class="form-control" id="checkin" required>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="check_out" class="form-label">Check Out</label>
                        <input type="date" name="check_out" class="form-control" id="checkout" required>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="adults" class="form-label">Adults</label>
                        <select name="adults" class="form-select">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label for="childrens" class="form-label">Childrens</label>
                        <select name="childrens" class="form-select">
                            <option selected>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-12 form-group">
                        <button type="submit" class="btn form-btn">check Availability</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

</section>