<section id="booking" class="booking">

    <div class="container">

        <div class="section-title">
            <h2>Booking</h2>
        </div>

        <div class="row justify-content-center align-items-center">

            <div class="col-md-6">

                <div class="card">

                    <form action="/services/booking" method="post" role="form" class="form">
                        <div class="row g-4 justify-content-center align-items-center">
                            <div class="col-12 col-md-6 form-group">
                                <label for="check_in" class="form-label">Check In</label>
                                <input type="date" name="check_in" class="form-control" id="checkin" required>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="check_out" class="form-label">Check Out</label>
                                <input type="date" name="check_out" class="form-control" id="checkout" required>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="adults" class="form-label">Adults</label>
                                <select name="adults" class="form-select">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="childrens" class="form-label">Childrens</label>
                                <select name="childrens" class="form-select">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="childrens" class="form-label">Room Type</label>
                                <select name="childrens" class="form-select">
                                    <option value="deluxe" selected>Deluxe</option>
                                    <option value="suit">Suit</option>
                                    <option value="dormitory">Dormitory</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 form-group">
                                <label for="childrens" class="form-label">Number of Rooms</label>
                                <select name="childrens" class="form-select">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-4 g-3 justify-content-center align-items-center">
                            <div class="col-12 col-md-8 form-group">
                                <button type="submit" class="btn w-100">Cancel</button>
                            </div>
                            <div class="col-12 col-md-8 form-group">
                                <button type="submit" class="btn form-btn w-100">Book Now</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</section>