<section id="gallery" class="gallery">
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>Gallery</h2>
        </div>

        <div class="row g-1 d-flex justify-content-center gallery-container" data-aos="fade-up">

            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_1.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_1.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_2.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_2.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_3.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_3.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_4.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_4.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_3.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_3.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_1.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_1.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_3.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_3.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_5.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_5.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_1.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_1.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_3.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_3.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/cityscape_1.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/cityscape_1.jpg" class="img-fluid"
                            alt="IEEE Kerala Section AGM 2021">
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>

<section id="contact" class="contact" style="padding: 1rem 0rem ;">
    <div class="container">

        <div class="map">
            <iframe
                src="https://maps-api-ssl.google.com/maps?hl=en&amp;ll=11.643733,76.112914&amp;output=embed&amp;q=Sliver+Cloud+Residency+Opposite+KVR+Bajaj,+Muttil+South,+Kerala+673122,+India+(OYO+Home+41429+Way+Side+Silver+Cloud+Residency)&amp;z=17"
                allowfullscreen>
            </iframe>
        </div>

    </div>
</section>