<section id="gallery" class="gallery">
    <div class="container">
        <div class="section-title" data-aos="zoom-out">
            <h2>Gallery</h2>
        </div>

        <div class="row g-1 d-flex justify-content-center gallery-container" data-aos="fade-up">

            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/12.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/12.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed 5.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed 5.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/11.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/11.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/17.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/17.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/21.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/21.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (2).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (2).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (3).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (3).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (4).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (4).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (5).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (5).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (6).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (6).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed (7).jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed (7).jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6 gallery-item filter-app">
                <a href="/assets/images/unnamed 7.jpg" data-gallery="galleryGallery"
                    class="gallery-lightbox preview-link">
                    <div class="gallery-img"><img src="/assets/images/unnamed 7.jpg" class="img-fluid"
                            alt="Silver Cloud Residency">
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>